.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.logo{
  font-size: 32px;
  font-weight: 700;
  color: #1976d2;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #7bb9f7;
  font-size: 18px;
}

.navbar nav a:hover{
  color: #0357b0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #ffffff;
}
.logo{
    font-size: 32px;
    font-weight: 700;
    color: #007bff;

}

.navbar .logo {
  color: #1976d2;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #7bb9f7;
  font-size: 18px;
}

.navbar nav a:hover{
    color: #0357b0;
}


.home {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.welcome-text {
  font-size: 14px;
  color: #444;
  max-width: 900px;
  margin: auto;
}

.welcome-title {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
  color: #1976d2;
}


.intro-box {
  max-width: 850px;
  margin: 30px auto;
  padding: 45px;
  background: #ffffff;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.8);
}

.intro-box h1 {
  color: #1976d2;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.intro-box p {
  font-size: 14.5px;
  line-height: 1.7;
  margin-bottom: 12px;
}

.intro-box .quote {
  font-style: italic;
  opacity: 0.9;
}

.btn-main {
  display: inline-block;
  margin-top: 22px;
  padding: 10px 22px;
  background: #1976d2;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.btn-main:hover {
  background: #0d47a1;
}


footer {
  text-align: center;
  padding: 18px;
  font-size: 13px;
  color: #444;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .intro-box {
    padding: 25px;
  }
}

.btn:hover {
    background: #0056d0;
}


.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    flex: 1 1 300px;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.8);
}

/* Gallery (Certificates + Internships) */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.box {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.8);
    text-align: center;
}

.box img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: white;
    margin-top: 40px;
    color: #1980ac;
}


#certificates img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


#internships img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.internship-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: flex-start;
}

.intern-card {
    width: 48%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
}

.intern-card img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    margin-top: 10px;
}

.certificate-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 30px;
}

.cert-card{
    border: 1px solid #ccc;
    padding:15px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.cert-card h3{
    text-align: center;
    color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;
}

.cert-card img{
    width:100%;
    max-width: 320px;
    border-radius: 8px;
    margin-top: 10px;
}

#certificates .card{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}


.projects {
  padding: 80px 20px;
  background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.project-title {
  text-align: center;
  font-size: 36px;
  color: #1976d2;
  margin-bottom: 50px;
  font-weight: bold;
}


.project-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: flex-start;  
}


.project-card {       
  min-height: 220px;           
  background: #ffffff;
  padding: 25px 35px;
  border-radius: 7px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.8);
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h3 {
  color: #1976d2;
  margin-bottom: 15px;
  font-size: 20px;
}

.project-card p {
  font-size: 14.5px;
  line-height: 1.7;
  color: #333;
  text-align: justify;
  margin-bottom: 10px;
}

.project-card .status {
  margin-top: 15px;
  color: #0d47a1;
  font-weight: bold;
}

.project-card .note {
  font-size: 13px;
  color: #666;
  font-style: italic;
}


@media (max-width: 768px) {
  .project-container {
    justify-content: center;
  }

  .project-card {
    width: 100%;
  }
}


.education {
  padding: 80px 20px;
  background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.edu-title {
  text-align: center;
  font-size: 36px;
  color: #1976d2;
  margin-bottom: 50px;
  font-weight: bold;
}


.education-container {
  max-width: 1100px;
  margin: auto;
}


.education-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}


.edu-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.edu-card:hover {
  transform: translateY(-8px);
}

.edu-card h3 {
  color: #0d47a1;
  font-size: 20px;
  margin-bottom: 8px;
}

.edu-card h4 {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}

.edu-card p {
  font-size: 15px;
  line-height: 1.7;
  color: #333;
  text-align: justify;
}


@media (max-width: 768px) {
  .education-grid {
    grid-template-columns: 1fr;
  }
}

/* Single Slide Contact Card */
.single-contact-card {
  display: flex;
  gap: 40px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  max-width: 1000px;
  margin: auto;
}

.contact-left,
.contact-right {
  flex: 1;
}

.contact-left h3,
.contact-right h3 {
  font-size: 22px;
  color: #0b3d91;
  margin-bottom: 10px;
}

.contact-left p {
  font-size: 18px;
  margin-bottom: 25px;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-right input,
.contact-right textarea {
  padding: 12px 15px;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-right button {
  padding: 12px;
  font-size: 18px;
  background: #0b3d91;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-right button:hover {
  background: #062d6f;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .single-contact-card {
    flex-direction: column;
  }
}

